<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <html data-theme="catppuccin-latte">
  <title>sakura</title>

  <script src="/static/htmx.min.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/drab@5.4.2/dialog/define.iife.js"></script>
  <link rel="stylesheet" href="/static/output.css" />
  <link rel="icon" type="image/webp"
    href="pocketbase.sakura.pm/api/files/74gbq4ykcfsb8xe/sn7hsd1y76nydh1/flower_1_cgd_ftodg_ac_9o7gSQg9Zx.webp">


</head>
<header>
  {% include "components/navbar.html" %}
</header>

<body hx-target="this">
  {% block content %}
  {% endblock %}
</body>

</html>
