<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 bg-base-100">
    <div class="max-w-screen-lg">
      <h2 class="mb-4 text-4xl font-bold">About Me</h2>
      <p class="mb-4">I'm 23 years old and studying Computer Science with a focus on Digital Forensics/Cyber Security in
        Hamburg. From a young age, I was always technically inclined, but my interest in computer science only developed
        during my studies. The topic that has accompanied me throughout the years is automation. I've always found it
        fascinating to optimize routine tasks so they can be performed entirely independently - and preferably
        simultaneously.</p>
      <hr>
    </div>
    <div class="max-w-screen-lg my-8">
      <h2 class="mb-4 text-4xl font-bold">Tech Stack</h2>
      <p class="mb-4">
        I mainly write code for my projects using Rust and Python. For frontend development, I use HTML with
        TailwindCSS, DaisyUI and HTMX to make the website more interactive
      </p>
      <hr>
    </div>
    <div class="max-w-screen-lg my-8">
      <h2 class="mb-4 text-4xl font-bold">Deployment and Hosting</h2>
      <p class="mb-4">
        I usually handle deployment and hosting myself by renting a Linux VPS and using Docker. This has the advantages
        of saving me costs, allowing me direct access to the machine if intense changes are needed, and learning from
        various projects - from setup to deployment.
      </p>
      <hr>
    </div>
    <div class="max-w-screen-lg my-8">
      <h2 class="mb-4 text-4xl font-bold">Programming Environment</h2>
      <p class="mb-4">
        My preferred programming environment is Linux. While you can program anywhere, I personally like working with
        terminals best. If Windows is required for development, I usually use the Developer Edition of Windows 11 in a
        virtual machine (which is provided directly by Microsoft).
      </p>
      <hr>
    </div>
  </div>
</section>
