<div class="hero bg-base-100 min-h-screen">
  <div class="hero-content text-center flex flex-col items-center">
    <div class="avatar mb-4">
      <div class="w-36 rounded-full">
        <img src="https://pocketbase.sakura.pm/api/files/74gbq4ykcfsb8xe/9in4caucs8cyoz6/avatar_f_n9_vhad_txn_hyMaeOPqog.webp"
          alt="Avatar" />
      </div>
    </div>
    <div class="max-w-md">
      <h3 class="text-2xl font-bold">Where robust security meets high performance and sophisticated aesthetics by
        design.</h3>
      <div class="flex justify-center mt-4">
      </div>
    </div>
  </div>
</div>
