<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center flex flex-col items-center">
    <div class="avatar mb-4">
      <div class="w-36 rounded-full">
        <img src="https://avatars.githubusercontent.com/u/126001665?v=4" alt="Avatar" />
      </div>
    </div>
    <div class="max-w-md">
      <h3 class="text-2xl font-bold">Where robust security meets high performance and sophisticated aesthetics by design.</h3>
      <div class="flex justify-center mt-4">
        <a href="https://github.com/mur1chan" target="_blank" class="mx-2">
          <img src="/static/github.svg" alt="GitHub" class="w-6 h-6" />
        </a>
        <!-- Add more icons as needed -->
      </div>
    </div>
  </div>
</div>
